<aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="#" class="toggle-writing-overlay"><i class="fa fa-bookmark-o" style="margin-right: 12px;"></i>Writing</a></li>
				<li><a href="https://github.com/andrewhaines"><i class="fa fa-github"></i></a></li>
				<li><a href="#" class="toggle-contact-overlay"><i class="fa fa-envelope"></i></a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<div class="writing">
  <div class="outer-close toggle-writing-overlay">
    <a class="close"><span></span></a>
  </div>
  <nav>
    <ul>
			<li><a href="https://ethikapolitika.org/author/andrew-haines/"><i class="fa fa-university" style="margin-right: 20px;"></i><em>Ethika Politika</em></a></li>
			<li><a href="https://fiatinsight/blog"><i class="fa fa-code" style="margin-right: 20px;"></i>Fiat Insight</a></li>
    </ul>
  </nav>
</div>

<div class="contact">
  <div class="outer-close toggle-contact-overlay">
    <a class="close"><span></span></a>
  </div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			  <form id="contact-form" action="https://formspree.io/andrew.m.haines@gmail.com" method="POST">
					<p>I'd love to hear from you. Send me a note!</p>
					<input type="text" name="name" placeholder="Your name">
					<input type="email" name="_replyto" placeholder="Your email">
					<textarea form="contact-form" type="text" name="message" placeholder="Your message" rows="3"></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</div>

<header>
	<div class="container">
	  <div class="row">
	    <div class="col-xs-6 col-sm-4">
	      <img src="https://s3.amazonaws.com/andrewhain.es/images/brand/andrewmhaines.jpg" class="headshot"/>
	    </div>
	    <div class="col-xs-12 col-sm-8">
	      <h1>Andrew<br>Haines</h1>
				<h2>I like making things.<br>But I love <em>wondering about them.</em></h2>
	    </div>
	  </div>
	</div>
</header>

<script>
	(function($) {
	  $(function() {
	    $('.toggle-writing-overlay').click(function() {
	      $('.writing').toggleClass('open');
	    });
	  });
	})(jQuery);

	(function($) {
	  $(function() {
	    $('.toggle-contact-overlay').click(function() {
	      $('.contact').toggleClass('open');
	    });
	  });
	})(jQuery);
</script>
