/* General */

$content-width: 800px;

/* Colors */

$main: #222;
$white: #FFF;
$black: #333;
$black_trans: rgba(0,0,0,0.4);
$dark_gray: #444;
$yellow: #F9D423;
$orange: #FC913A;
$red: #FF4E50;
$green: #E1F5C4;


$light: #E7EDF4;
$header:  #222;
$font-color: #222;

/* Fonts */

$font-style: 'Open Sans', sans-serif;
$heading-font: 'Roboto Slab', serif;
$link-hover-color: $main;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
